# support new slidev version although an older is used by a plugin
legacy-peer-deps=true

# Custom registry for Xebia packages
# For using the registy you need to run 
#   `npm login --registry=https://npm.pkg.github.com` once and 
#   provide your GitHub handle as user and 
#   a PAT with `packages:read` permissions as password and the xebia org.
@xebia:registry=https://npm.pkg.github.com
